.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
}

.header-branding {
    display: flex;
    align-items: center;
}

.logo {
    width: 51px;
    height: 51px;
    padding-right: 1em;
}

.site-title {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 600;
    color: var(--cor-secundary);
}

.nav-link {
    padding: 0 2em;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-primary);
}

.header-actions {
    display: flex;
    align-items: center;
}

.btn-sign-in {
    width: 106px;
    height: 40px;
    background: var(--bt-primary);
    border: 2px solid var(--bt-line-01);
    margin-right: .75em;    
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--cor-primary);
    font-weight: 600;
}

.btn-register {
    width: 106px;
    height: 40px;
    background: var(--bt-secundary);
    border: 2px solid var(--bt-line-01);
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--cor-tertiary);
    font-weight: 600;
}