/* Section easy */

.easy-transfer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 3em;
}

.easy-transfer-content {
    padding-right: 16em;
}

.easy-transfer-title {
    font-family: var(--font-primary);
    font-size: 44px;
    font-weight: 600;
    color: var(--cor-primary);
}

.easy-transfer-line {
    padding: 2em 0;
}

.easy-transfer-description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-quaternary);
    padding: 0 6em 3em 0;
}

.bt-register {
    width: 146px;
    height: 50px;
    background: var(--bt-secundary);
    border: 2px solid var(--bt-line-02);
    color: var(--cor-tertiary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    margin-right: 1em;
}

.bt-learn-more {
    width: 125px;
    height: 50px;
    background: var(--bt-primary);
    border: 2px solid var(--bt-line-01);
    color: var(--cor-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
}

/* Section works */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 6em 15em 6em;
}

.works-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-tittle {
    font-family: var(--font-primary);
    font-size: 44px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .5em;
}

.works-description {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 600;
    color: var(--cor-quaternary);
    padding-top: .5em;
    margin: 0 12em;
    text-align: center;  
}

.works-steps {
    display: flex;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

.step-icon {
    width: 207px;
    height: 207px;
    padding-bottom: 3em;
}

.step-tittle {
    font-family: var(--font-primary);
    font-size: 27px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .75em;
}

.step-description {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-quaternary);
    text-align: center;
    padding: 0 1em;
}

/* Section check */

.check-currency {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 7em 3em 5em 0;
}

.check-currency-image {
    display: flex;
    position: relative;
}

.check-currency-ellipse {
   position: absolute;
   top: -40%;
   left: 0%;
   z-index: 1;
}

.check-currency-undraw {
   height: auto;
   width: 100%;
   z-index: 2;
   position: relative;
   left: 10%;
}

.check-currency-content {
    width: 423px;
    height: 240px;
}

.check-currency-tittle {
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .25em;
}

.check-currency-description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-quaternary);
    padding-top: 2em;
    padding-right: 1em;
}

.check-currency-ream {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 600;
    color: var(--cor-secundary);
    padding-top: 0.75em;
}