/* Section easy */

.easy-transfer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em 3em;
}

.easy-transfer-content {
    padding-right: 16em;
}

.easy-transfer-title {
    font-family: var(--font-primary);
    font-size: 44px;
    font-weight: 600;
    color: var(--cor-primary);
}

.easy-transfer-line {
    padding: 2em 0;
}

.easy-transfer-description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-quaternary);
    padding: 0 6em 3em 0;
}

.bt-register {
    width: 146px;
    height: 50px;
    background: var(--bt-secundary);
    border: 2px solid var(--bt-line-02);
    color: var(--cor-tertiary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    margin-right: 1em;
}

.bt-learn-more {
    width: 125px;
    height: 50px;
    background: var(--bt-primary);
    border: 2px solid var(--bt-line-01);
    color: var(--cor-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
}

/* Section works */

.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 6em 15em 6em;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-tittle {
    font-family: var(--font-primary);
    font-size: 44px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .5em;
}

.works-description {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 600;
    color: var(--cor-quaternary);
    padding-top: .5em;
    margin: 0 12em;
    text-align: center;  
}

.works-steps {
    display: flex;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

.step-icon {
    width: 207px;
    height: 207px;
    padding-bottom: 3em;
}

.step-tittle {
    font-family: var(--font-primary);
    font-size: 27px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .75em;
}

.step-description {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-quaternary);
    text-align: center;
    padding: 0 1em;
}

/* Section check */

.check-currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em 5em 0;
    height: 60vh;
}

.check-currency-image {
    display: flex;
    position: relative;
}

.check-currency-ellipse {
   position: absolute;
   top: -40%;
   left: 0%;
   z-index: 1;
}

.check-currency-undraw {
   height: auto;
   width: 100%;
   z-index: 2;
   position: relative;
   left: 10%;
}

.check-currency-content {
    width: 423px;
    height: 240px;
}

.check-currency-tittle {
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-primary);
    padding-bottom: .25em;
}

.check-currency-description {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-quaternary);
    padding-top: 2em;
    padding-right: 1em;
}

.check-currency-ream {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 600;
    color: var(--cor-secundary);
    padding-top: 0.75em;
}

/* Section services */ 

.services {
    padding: 3em 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-tittle {
    font-family: var(--font-primary);
    font-size: 44px;
    font-weight: 600;
    color: var(--cor-primary);
}

.services-logo {
    width: 51px;
    height: 51px;
    margin: 0 1em;
    position: relative;
    top: 15px;
}

.services-line {
    padding: 2em 0;
}

.services-sendpay {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 600;
    color: var(--cor-secundary);
    position: relative;
    top: 15px;
}

.services-content-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services-description {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 600;
    color: var(--bt-line-01);
    padding-top: 1em;
}

.services-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1074px;
    height: 324px;
    padding: 5em;
}

.item {
    display: flex;
    width: 50%;
}

.content-item {
    flex-direction: column;
    width: 403px;
    height: 100px;
}

.banco, .relogio {
    width: 95px;
    height: 92px;
}

.phone, .truck {
    width: 63.6px;
    height: 76x;
    margin-right: 1.75em;
}

.item-tittle {
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 600;
    color: var(--cor-primary);
    margin: 0.5em 0;
}

.item-description {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 600;
    color: var(--bt-line-01);
    margin: 2em 0;
}

/* Section about */ 

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    background: var(--cor-secundary);
}

.content-about {
    flex-direction: column;
    width: 152px;
    padding-left: 8em;
}

.about-tittle {
    font-family: var(--font-primary);
    font-size: 33px;
    font-weight: 200;
    font-style: italic;
    color: var(--cor-tertiary);
    line-height: 1.6;
}

.about-line {
    width: 58px;
}

.description-group-about {
    display: flex;
    align-items: center;
}

.about-description {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 400;
    color: var(--cor-tertiary);
    margin-top: 1em;
}

.about-group {
    margin-top: 1.5em;
    margin-left: 1em;
}

.cards {
    display: flex;
    gap: 20px;
    padding-left: 5em;
}

.about-card {
    width: 298px;
    height: 306px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--cor-tertiary);
    border-radius: 15px;
}

.image-about-cards {
    width: 59px;
    height: 59px;
    margin-left: 1em;
}

.cards-image-tittles {
    display: flex;
    align-items: center;
}

.card-tittle-subtittle {
    flex-direction: column;
}

.description-card {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    width: 218px;
    height: 175px;
    margin: 1em 0 0 1em ;
    color: var(--cor-primary);
}

.tittle-card {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    margin-left: 1em;
    margin-bottom: 0.25em;
    color: var(--cor-primary);
}

.subtittle-card {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    margin-left: 1.25em;
    margin-top: 0.25em;
    color: var(--cor-chitenarian);
}