main {
    display: flex;
    justify-content: center;
    padding-top: 4.5em;
}

.main-content {
    display: flex;
}

.main-left {
    width: 317px;
    height: 514px;
}

.main-logo {
    width: 296px;
    height: 345px;
}

.tittle-primary {
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-primary);
}

.tittle-secundary {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 400;
    color: var(--cor-quinary);
}

.description-primary {
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 400;
    color: var(--cor-primary);
}

.edition {
    margin-top: 2em;
}

.span {
    font-style: italic;
    font-weight: 900;
}

.main-right {
    width: 800px;
    height: 735px;
    border: 3px solid var(--cor-quaternary);
    border-radius: 15px;  
}

.content-secundary {
    display: flex;
    align-items: center;
}

.content-tertiary {
    display: flex;
    align-items: center;
}

.icone-html, .icone-css, .icone-js, .icone-python, .icone-github, .icone-git {
    width: 48px;
    height: 48px;
}

.teste {
    text-align: center;
}