/* Footer */
.footer {
    text-align: center;
    margin: 12.5em 3em 0 3em;
}

.footer-logo {
    margin-bottom: 2em;
}

.footer-lists {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list-link a {
    display: flex;
    text-align: center;
    color: var(--branco-principal);
    margin-left: 1.75em;
    text-decoration: none;
    font-size: 16px;
}

.footer-text-one {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 5em 0 0 10em;
}

.footer-text-two {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 5em;
}

.list-link a:hover {
    color: var(--botao-azul);
}

.list-link a:active {
    color: var(--botao-azul);
}

/* Media query para Celulares */
@media screen and (max-width: 767px) {
    .footer {
        margin: 3.5em 1em 1em 1em; 
    }
    
    .footer-lists {
        display: block;
        text-align: center;
    }

    .list-link a {
        display: block;
        font-size: 14px;
        margin: 0.75em 0;
    }

    .footer-logo {
        margin: 2em 0;
    }
    
    .footer-text-one {
        font-size: 12px;
        margin: 5em 0 0 0;
    }

    .footer-text-two {
        font-size: 12px;
        margin: 3em 0 0 0;
    }
}

/* Media query para Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-lists {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-text-one {
        margin: 5em 0 0 0;
    }
}